* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: rgb(0, 0, 0);
}

body {
  font-family: 'Roboto', sans-serif;
  color: rgb(255, 255, 255);
}

/* --- NAVBAR --- */

.header {
  /* position: fixed;
  top: 0;
  left: 0; */
  /* border: 1px solid orangered; */
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 6px 59px; */
  /* box-shadow: 0 0 10px #66957884; /* rgba(0, 0, 0, 0.09) */
  width: 100%;
  /* z-index: 99; 
  top: 0;
  left: 0; */
}

.header-container {
  padding: 20px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav-memoji {
  height: 100px;
  z-index: 99;
}

.nav-options {
  display: flex;
  gap: 60px;
}

.navbar > ul {
  display: flex;
  list-style: none;
  gap: 2.7rem;
}

.nav-item,
.nav-item:visited {
  text-decoration: none;
  color: inherit;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.nav-item:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background: #ffffff;

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.nav-item:hover:after {
  transform: scaleX(1);
  transform-origin: left;
}

.change-lang {
  display: flex;
  gap: 6px;
  align-items: center;
}

.change-lang > i {
  font-size: 12px;
}

.hamburger {
  position: relative;
  display: block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  z-index: 2;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background-color: rgb(255, 255, 255);
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-9px, -8px);
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  display: block;
  width: 100%;
  min-height: 100vh;
  /* background-color: rgba(255, 255, 255, 0.8); */
  background-color: rgb(0, 0, 0);
  z-index: 1;
  padding-top: 80px;
  transition: 0.4s;
  backdrop-filter: blur(5px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav ul {
  text-decoration: none;
}

.mobile-nav a {
  display: block;
  width: 100%;
  max-width: fit-content;
  margin: 0 auto 50px;
  /* padding: 12px 0; */
  text-align: center;
  /* background-color: #7cbbff; */
  text-transform: uppercase;
  letter-spacing: 0.12rem;
  font-weight: 500;
  font-size: 20px;
}

/* --- BANNER --- */

.bg {
  background-color: hsla(336, 0%, 0%, 1);
  background-image: radial-gradient(
      at 53% 56%,
      hsla(266, 72%, 41%, 0.32) 0px,
      transparent 50%
    ),
    radial-gradient(at 0% 18%, hsla(309, 97%, 63%, 0.46) 0px, transparent 50%),
    radial-gradient(at 92% 0%, hsla(180, 100%, 44%, 0.54) 0px, transparent 50%);

  /* background-color: hsla(0, 0%, 100%, 1);
  background-image: radial-gradient(
      at 77% 90%,
      hsla(6, 0%, 100%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 49% 49%, hsla(44, 93%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 6% 76%, hsla(195, 0%, 100%, 1) 0px, transparent 50%),
    radial-gradient(at 58% 1%, hsla(268, 89%, 76%, 1) 0px, transparent 50%),
    radial-gradient(at 1% 36%, hsla(309, 97%, 63%, 1) 0px, transparent 50%),
    radial-gradient(at 99% 9%, hsla(169, 99%, 69%, 1) 0px, transparent 50%); */

  /* background-color: hsla(116, 0%, 0%, 1);
  background-image: radial-gradient(
      at 51% 57%,
      hsla(300, 86%, 65%, 0.48) 0px,
      transparent 50%
    ),
    radial-gradient(at 65% 0%, hsla(129, 69%, 76%, 0.44) 0px, transparent 50%),
    radial-gradient(at 0% 38%, hsla(237, 89%, 75%, 0.53) 0px, transparent 50%); */

  /* background-color: hsla(330, 0%, 0%, 1);
  background-image: radial-gradient(
      at 61% 29%,
      hsla(94, 86%, 68%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 37% 54%, hsla(268, 89%, 76%, 1) 0px, transparent 50%),
    radial-gradient(at 26% 38%, hsla(309, 97%, 63%, 1) 0px, transparent 50%),
    radial-gradient(at 62% 55%, hsla(169, 99%, 69%, 1) 0px, transparent 50%); */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  z-index: -1;
  /* opacity: 0.5; */
}

.banner {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  text-align: center;
  width: 100%;
}

.project-section {
  background-color: rgb(0, 0, 0);
}

.banner-texts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  text-shadow: 1px 1px 4px black;
}

.banner-texts > h1 {
  font-size: 48px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.social-icon {
  font-size: 32px;
  color: rgb(255, 255, 255);
  transition: transform 0.3s;
}

.social-icons .social-icon:hover,
.card a:hover,
.footer-socials .social-icon:hover {
  transform: scale(1.1);
}

/* --- GENERIC --- */

.section-title {
  padding: 40px 20px;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  text-align: center;
}

/* --- PROJECT SECTION --- */

.project-section {
  padding-bottom: 80px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
  padding: 0 60px;
}

.card {
  background-size: cover;
  background-position: center;
  width: calc(33.333% - 20px);
  aspect-ratio: 4 / 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s;
  margin: 10px;
  /* border: 1px solid rgb(192, 34, 192); */
}

.card-content {
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  color: black;
  opacity: 0;
  transition: 0.5s;
}

.card-content:hover,
.card-content:focus {
  opacity: 1;
}

.card h2 {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 0.12rem;
  text-align: center;
}

.card p {
  font-size: 14px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 18px;
}

.card-btns-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.card-btns-container i {
  color: white;
  font-size: 26px;
}

.card a {
  text-decoration: none;
  color: #7cbbff;
  transition: color 0.3s;
  background-color: rgb(35, 35, 35);
  padding: 9px;
  border-radius: 5px;
  transition: all 0.3s;
}

/* .card i:hover {
  color: #bdffb7;
} */

.card-1 {
  background-image: url(./img/screenshots/pokemon-soundboard-screenshot.png);
}
.card-2 {
  background-image: url(./img/screenshots/etch-a-sketch-screenshot.png);
}
.card-3 {
  background-image: url(./img/screenshots/travel-journal-screenshot.png);
}

/* --- ABOUT SECTION --- */

.about-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 0 70px 0;
  background-color: rgb(0, 0, 0);
}

.about-content {
  width: 80%;
  max-width: 800px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-left,
.about-right {
  height: fit-content;
}

.about-left {
  width: fit-content;
  margin-right: 2.5rem;
}

.about-left img {
  width: 30vw;
  max-width: 300px;
  aspect-ratio: 1/1.2;
  object-fit: cover;
  border-radius: 15px;
}

.about-right p {
  letter-spacing: 1px;
  line-height: 24px;
  font-weight: 300;
}

/* --- FOOTER --- */

footer {
  width: 100%;
  background-color: black;
  padding: 30px 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-socials {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 50px;
}

.footer-container > .section-title {
  padding: 20px;
}

.footer-socials i {
  color: white;
}

/* --- MEDIA QUERIES --- */

@media (max-width: 1024px) {
  .header-container {
    padding: 20px 60px;
  }
  .cards-container {
    padding: 0 30px;
  }

  .card {
    width: calc(50% - 20px); /* Two cards per row */
  }
}

@media (min-width: 767px) {
  .hamburger {
    display: none;
  }
  .mobile-nav {
    display: none;
  }
}

@media (max-width: 767px) {
  .header-container {
    padding: 15px 30px;
  }
  .nav-options {
    display: none;
  }
  /* .banner {
    padding-top: 90px;
  } */

  .project-section {
    padding-bottom: 60px;
  }

  .cards-container {
    flex-direction: column;
    width: 100%;
    gap: 30px;
  }
  .card-content {
    padding: 10px;
    width: 100%;
  }
  .card {
    width: 100%;
    margin: 0;
  }
  .about-content {
    flex-direction: column;
    gap: 40px;
  }
  .about-left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
  }
  .about-left img {
    width: 100%;
    max-width: 250px;
    aspect-ratio: 1/1;
    border-radius: 15px;
    margin: auto 0;
  }
  .about-right {
    flex: 1;
    padding: 0;
  }
}
